@use 'variaveis';

.footer{
    padding: 26px 8px;
    &__container{
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;
    }
    &__logo{
        width: 80px;
        margin: 0 auto 0;
    }
    &__links{
        margin: 16px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        &__item{
            display: inline-block;
            a{
                text-decoration: none;
                padding: 8px 16px;
                display: block;
                &:hover{
                    color: variaveis.$corTextSecondary;
                }
            }
        }
    }
    p{
        margin-bottom: 16px;
    }

    .languagem-selector{
        display: flex;
        align-items: center;
        img{
            height: 18px;
            width: 18px;
        }
        select{
            height: 38px;
            background-color: transparent;
            border:none;
            color: variaveis.$corTextPrimary;
            &:hover{
                color:variaveis.$corTextSecondary;
            }
            option{
                color:variaveis.$corDeFundo;
            }
        }
    }
}
