@use 'variaveis';

.hero{
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../images/hero_desktop.jpeg);
    text-align: center;
    background-size: cover;
    &__content{
        width: 100%;
        max-width: 640px;
        &__branding{
            width: 100%;
            max-width: 320px;
            margin: 0 auto 38px;
        }
        .title--small{
            margin-bottom: 64px;
        }
        p{
            margin-bottom: 20px;
            &:last-child{
                margin-top: 60px;;
            }

        }

        &__combos{
            display: flex;
            justify-content: space-between;

            &__combo{
                width: calc(50% - 12px);
                img{
                    width: 100%;
                    max-width: 150px;
                }

              
            }
        }
        .star--plus{
            img{
                width: 100%;
                max-width: 300px;
            }
            button{
                margin-top: 1.2vw;
        }
        
        
    }
    

}   }