
.watch-anywhere{
    padding: 5.6vw;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    img{
        max-width: 100%;
    }
 &__text__container{
        padding: 0 2vw;
        h2{
            margin-bottom: 24px;
        }
    }
}